body{
    background-color: rgb(71, 135, 146);
}


.columnas{
padding-top: 30px;
    column-count: 4;
    column-gap: 5px;
}
.columna2{
    text-align: right;
}


@media screen and (max-width: 600px) {
    .abd {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .bc {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .dc {
      display: none;
    }
  }

 